@model Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>Error</h2>
    <div>
        <p>An error occurred while processing your request.</p>
        @if (Model != null)
        {
            <p>Error message: @Model["ErrorMessage"]</p>
        }
    </div>
</body>
</html>
