html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.search-results {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-width: 400px;
    z-index: 1000;
    margin-top: 5px;
    padding: 10px;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

    .result-item:last-child {
        border-bottom: none;
    }

    .result-item:hover {
        background-color: #f0f0f0;
    }
